---
layout: base
---
<article class="post h-entry" itemscope itemtype="http://schema.org/BlogPosting">

  <header class="post-header">
    <h1 class="post-title p-name" itemprop="name headline">{{ page.title | escape }}</h1>
    <p class="post-meta">
      {%- assign date_format = site.minima.date_format | default: "%b %-d, %Y" -%}
      <span class="dt-published"><i class="far fa-calendar"></i></span>
      <span class="dt-published">Published: </span>
      <time title="创建时间：{{ page.date }}" class="dt-published" datetime="{{ page.date | date_to_xmlschema }}" itemprop="datePublished">
        {{ page.date | date: "%F" }}
      </time>
      {%- if page.modified_date -%}
        | 
        <span class="dt-modified"><i class="far fa-calendar-check"></i></span>
        <span class="dt-modified">Updated: </span>
        <time title="修改时间：{{ page.modified_date }}" class="dt-modified" datetime="{{ page.modified_date | date_to_xmlschema }}" itemprop="dateModified">
          {{ page.modified_date | date: "%F" }}
        </time>
      {%- endif -%}
      {%- if page.category -%}
        {% for c in site.categories %}
          {%- if c.title == page.category -%}
            {% assign category_url = c.url %}
          {%- endif -%}
        {% endfor %}
        |
        <span class="p-category"><i class="far fa-folder"></i></span>
        <span class="p-category">Classified: </span>
        <span class="p-category"><a href="{{ category_url | relative_url }}">{{ page.category }}</a></span>
      {%- endif -%}</p>
  </header>

  <div class="post-content e-content" itemprop="articleBody">
    {{ content }}
  </div>

  {%- if site.disqus.shortname -%}
    {%- include disqus_comments.html -%}
  {%- endif -%}

  <a class="u-url" href="{{ page.url | relative_url }}" hidden></a>
</article>
